{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
        {% for listing in listings %}
        <div class="container-fluid mb-5">
            <h4>{{ listing.title }}</h4>
            {% if listing.imgurl %}
            <img src="{{listing.imgurl}}" class="rounded img-thumbnail w-25" >
            {% endif %}

            <li>Catergory {{listing.get_catego_display}}</li>
            {% if listing.price == 0.00 %}
            <li>${{listing.start_bid}}</li>
            {% else %}
            <li>${{listing.price}}</li>
            {% endif %}
            <li>Created by {{listing.user}}</li>
        </div>
        {% endfor %}
    </div>
    TODO
{% endblock %}